/* HEADER */
.bg-body-tertiary {
    background-color: #FFFFFF !important;
}

.navbar-nav .nav-link.active {
    color: #E4A853;
}

.navbar-nav a {
    color: black;
}

.navbar-nav a:hover {
    color: #AA8453;
}

.navIcon {
    color: #E4A853;
    font-size: 20px;
    margin-right: 6px;
}

.logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#responsive-navbar-nav .navbar-nav:last-child {
    border-top: 1px solid rgba(170, 132, 83, 0.24);
}

.btn-check-now {
    background-color: #AA8453;
    border: 1px solid #AA8453;
}

.btn-check-now:hover {
    background-color: #E4A853;
    border: 1px solid #AA8453;
}

/* END HEADER */

/* FOOTER */
.container .row .col ul li a {
    color: #666;
}

.container .row .col ul li {
    margin-bottom: 16px;
}

.container .row .col ul li a:hover {
    color: #E4A853;
}

footer .list-group .list-group-item:first-child {
    text-align: center;
    max-width: 40%;
    margin-bottom: 6px;
}

.list-group-item {
    padding: 0;
    border: unset;
    max-width: 50%;
}

footer .row .col form input {
    border: 1px solid #E4A853;
}

footer .row .col form button {
    background-color: #AA8453;
    border: none;
}

footer .row .col form button:hover {
    background-color: #E4A853;
}

footer .coppyright {
    border-top: 1px solid rgba(102, 102, 102, 0.50);
}

footer .socialsing {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

footer .socialsing a {
    color: #AA8453;
    font-size: 30px;
}

/* END FOOTER */

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    #responsive-navbar-nav .navbar-nav:first-child {
        display: none;
    }

    footer .container .col-sm-6 {
        margin-bottom: 36px;
    }

    footer .container .col-sm-6:last-child {
        margin-bottom: 0;
    }

    footer .list-group .list-group-item:first-child {
        text-align: left;
    }

    footer .socialsing {
        justify-content: flex-start;
    }

    footer .socialsing a {
        margin-right: 26px;
    }

    footer .container .row .list-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer .container .row .list-group .list-group-item:first-child {
        margin-right: 16px;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    #responsive-navbar-nav {
        font-size: 0.84rem;
    }

    #responsive-navbar-nav .navbar-nav:first-child {
        display: none;
    }

    footer .container .col-sm-6 {
        margin-bottom: 36px;
    }

    footer .container .row .list-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer .socialsing {
        justify-content: flex-start;
    }

    footer .socialsing a {
        margin-right: 26px;
    }

    .container .row .col ul li {
        margin-bottom: 6px;
    }
}

@media only screen and (min-width:1200px) {
    footer .container .row .list-group {
        display: unset;
    }

    #responsive-navbar-nav {
        font-size: 1rem;
    }

    #responsive-navbar-nav .navbar-nav:first-child {
        display: flex;
    }

    .categories-wrap button {
        max-width: 100% !important;
    }
}

/* END REPONSIVE */

/* BANNER */
.banner {
    background-image: url('/banner 2.png');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.banner-title h3 {
    color: #AA8453;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
}

.banner-title h4 {
    font-size: 25px;
}

.banner-description span {
    font-size: 24px;
    width: 70%;
}

.banner-content {
    text-align: center;
    margin: 0 auto;
    padding: 125px 0 225px;
    position: relative;
}

/* END BANNER */

/* SELECT DATE */
.categoris-section .categories-wrap {
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(87, 86, 86, .1);
    border-radius: 10px;
    padding: 40px 50px;
    transform: translateY(-80px);
    margin-bottom: -100px;
}

.react-datepicker__input-container input {
    border: 1px solid #E4A853;
    border-radius: 6px;
    max-width: 156px;
    text-align: center;
    padding: 6px 0;
}

.categories-wrap button {
    margin-left: 2.3rem !important;
}

.align-items-flex-end {
    align-items: flex-end;
}

.categoris-section .categories-wrap .cate-items select.form-select {
    max-width: 156px;
    border: 1px solid #E4A853;
}

.categories-wrap button {
    margin-left: unset !important;
    margin-top: 18%;
    max-width: 156px;
}

/* END SELECT DATE */

/* REPONSIVE BANNER HOME AND CHECK NOW*/
/* Phones */
@media only screen and (max-width:576px) {
    .banner-title h4 {
        font-size: unset;
    }

    .banner-title h3 {
        font-size: 28px;
    }

    .banner-description span {
        font-size: 13px;
    }

    .react-datepicker__input-container input {
        max-width: 100%;
    }

    .categoris-section .categories-wrap .cate-items select.form-select {
        max-width: 100%;
    }

    .categories-wrap div.w-100 {
        width: inherit !important;
    }

    .react-datepicker-wrapper {
        display: block !important;
    }

    .react-datepicker__input-container input {
        width: 100%;
    }

    .categories-wrap button {
        margin-top: 10%;
        max-width: 100%;
    }

    .categories-wrap div.w-100 div.col-sm-4 {
        margin-bottom: 20px !important;
    }

    /* END REPONSIVE BANNER HOME AND CHECK NOW*/
}

/* SWIPER */
.text-18 {
    font-size: 18px;
}

.text-24 {
    font-size: 24px;
}

.text-45 {
    font-size: 45px;
}

.reviews-section {
    background-image: url(/review-bg.png);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 120px 0;
}

.reviews-section .review-title-head {
    margin-bottom: 94px;
}

.client-reviews {
    max-width: 750px;
    margin: 0 auto;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 30px;
}

.client-reviews .review-top {
    text-align: center;
}

.client-reviews .review-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-reviews .review-bottom .review-left {
    display: flex;
    gap: 20px;
}

.reviews-section .swiper .swiper-wrapper {
    margin-bottom: 4%;
}

.swiper-pagination span {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet {
    background: #E4A853 !important;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .review-bottom {
        flex-direction: column;
    }

    .reviews-section .swiper .swiper-wrapper {
        margin-bottom: 10%;
    }

    .review-title-head div:first-child {
        width: 100% !important;
    }

    .review-title-head div:first-child h2 {
        font-size: 28px;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .reviews-section .swiper .swiper-wrapper {
        margin-bottom: 8%;
    }

    .review-title-head div:first-child {
        width: 100% !important;
    }
}

/* PC */
@media only screen and (min-width:1200px) {
    .reviews-section .swiper .swiper-wrapper {
        margin-bottom: 4%;
    }

    .review-title-head div:first-child {
        width: 50% !important;
    }
}

/* END SWIPER */

/* ROOMS-SUITES */
.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-4 {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-4 svg {
    color: #E4A853;
    margin-right: 6px;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-4:not(:last-child) {
    border-right: 1px solid #AA8453;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .row {
    height: 3em;
    overflow: hidden;
    align-items: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-content,
.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom {
    padding: 0 26px;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-content a:hover {
    color: #E4A853 !important;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-content .room-price {
    color: #E4A853;
    padding-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
}

.content-rooms-suites h2 {
    color: #AA8453;
}

.rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-content .room-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper {
        margin-bottom: 8%;
    }

    .content-rooms-suites .rooms-suites-top {
        width: 100% !important;
    }

    .content-rooms-suites .rooms-suites-top .text-45 {
        font-size: 36px;
    }

    .content-rooms-suites .rooms-suites-top .text-18 {
        font-size: 16px;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide {
        background-color: var(--white-color);
        border-radius: 6px;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-img img {
        width: 100% !important;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper {
        margin-bottom: 4%;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-4 {
        font-size: 18px;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide {
        background-color: var(--white-color);
        border-radius: 6px;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-img img {
        width: 100% !important;
        object-fit: cover;
    }
}

/* PC */
@media only screen and (min-width:1200px) {
    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide {
        background-color: var(--white-color);
        border-radius: 6px;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper {
        margin-bottom: 2%;
    }

    .rooms-suites .content-rooms-suites .rooms-suites-bottom .swiper-wrapper .swiper-slide .room-bottom .col-4 {
        font-size: 14px;
    }
}

/* BOOKING */
.address-booking {
    background-color: rgba(255, 255, 255, 0.70);
}

.banner-booking {
    background-image: url('/banner-booking.png');
    position: relative;
    background-size: cover;
    padding-top: 118px;
}

.banner-booking .address-booking {
    padding: 16px 58px;
}

.banner-booking .address-booking .address {
    margin-left: 16px;
    line-height: 36px;
}

.address-booking .address div span {
    margin-left: 16px;
}


.seclect-booking .categories-wrap {
    background-color: #FFF;
}

.seclect-booking h5 {
    font-size: 15px;
    font-weight: 800;
}

.seclect-booking input {
    width: 150px;
    color: #666;
    border-radius: unset;
    border: 1px solid #666;
}

.seclect-booking select {
    width: 116px;
    border-radius: unset;
    border: unset;
    color: #666;
}

.seclect-booking .cate-items .input:last-child {
    border: 1px solid #666;
    align-items: center;
    padding: 0 6px;
}

.form-select:focus {
    border-color: unset;
    box-shadow: unset;
}


.seclect-booking .categories-wrap .row {
    padding: 7px 0;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .address-booking {
        max-width: 100%;
    }

    .seclect-booking .input {
        width: 136px;
    }

    .seclect-booking .categories-wrap .row div {
        margin-top: 6px;
    }

    .seclect-booking .categories-wrap .row {
        padding: 7px 28px 20px 28px;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .address-booking {
        max-width: 100%;
    }
}

/* PC */
@media only screen and (min-width:1200px) {
    .address-booking {
        max-width: 30%;
    }
}

/* SELECT ROOM */
.room-select {
    padding: 16px 0 120px 0;
}

.select-room .select-items {
    background-color: #FFF;
    padding: 8px 16px;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .select-room .select-items select {
        /* max-width: 37%; */
        border: none;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .select-room .select-items select {
        /* max-width: 20%; */
        border: none;
    }
}

/* PC */
@media only screen and (min-width:1200px) {
    .select-room .select-items select {
        max-width: 22%;
        border: none;
    }
}


/* Trong Tri */
.row-content-home {
    margin-left: 35px;
}

.intro-home {
    margin-bottom: 5%;
}

.row-home .row {
    padding-top: 150px
}

.row-home .row-content-home {
    padding-top: 124px
}

.img1-home img {
    width: auto;
    height: auto;
}

.img2-home img {
    width: auto;
    padding-top: 21px;
    height: auto;
}

.img-home {
    height: 100%;
}

.img-home img {
    width: auto;
    height: 100%;
}

.color-span-home {
    color: #AA8453;
}

.icon-restaurant {
    color: #E4A853;
    width: 70.968px;
    height: 45.101px;
    margin-right: 17px;
}

.icon-world {
    color: #E4A853;
    width: 52.968px;
    height: 51.101px;
    margin-right: 17px;
}

.color-span-home {
    margin-top: 20px;
}

.title-home h2 {
    font-weight: 600;
    padding-top: 10px;
    font-size: 45px;
    line-height: normal;
    letter-spacing: 4.5px;

}

.row-content-home p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.row-content-home h3 {
    display: flex;
    width: 545px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.2px;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .row-content-home {
        padding-top: 23px !important;
    }

    .row-home .row-content-home .d-block,
    .row-home .row-content-home .d-block h3 {
        max-width: 100%;
    }

    .row-home .row-content-home .d-block p {
        margin-top: 22px;
    }

    .row-content-home .title-home {
        margin-bottom: 40px;
    }

    .row-content-home svg {
        display: none;
    }

    .row-home .img-home img {
        width: 100%;
        height: auto;
    }

    .row-home .row {
        padding-right: unset !important;
        margin-left: -7px;
    }

    .row-home .col-6:first-child {
        display: none;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .img-home img {
        width: 100%;
    }
}

/* PC */
@media only screen and (min-width:1200px) {
    .img-home img {
        width: 100%;
    }
}


/* Contact  - Trong Tri */
.banner-contact-page {
    width: 100vw;
    /* Sử dụng 100vw để chiếm full viewport width */
    height: auto;
    object-fit: cover;
    object-position: center
}

.contact-page {
    margin-top: 97px;

}

.contact-form div {
    margin-bottom: 37px;

}

.contact-form input,
.contact-form textarea {
    border: 1px solid #666;
    border-radius: 8px;
    background-color: #f2eee7;
}

.form-control:focus {
    background-color: #f2eee7;
}

.contact-form div .btn {
    background-color: #E4A853;
    border: unset;
}

.contact-form div .btn {
    width: 38%;
}


/* Spa- Trong Tri */
.main-title-spa .content-wrapper h2 {
    color: #9E853F;
    font-size: 45px;

}


.spa-introduction .row h3 {
    color: #FFF;
    font-family: Arima Madurai;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.spa-introduction .row p {
    color: #FFF;
    font-family: Arima Madurai;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px
}

.spa-introduction .row h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.spa-introduction {
    background-image: url('/promo-bg 1.png');
    background-size: cover;
    padding: 80px 50px;
}



.spa-introduction .container .row .video-spa img {

    border-radius: 10px;

}

.spa-introduction .row .content-spa {
    color: #FFFFFF;
    margin-top: 35px;

}

.spa-introduction .row button {

    border: 1px solid #AA8453;
    color: #AA8453;
    background-color: unset;
    text-decoration: underline;
    text-decoration-color: #AA8453;
    color: #AA8453;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 9px 30px;
    margin-top: 17px;
}

.spa-introduction .row .video-spa {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.spa-introduction .row .video-spa iframe {
    border-radius: 6px;
}

/* REPONSIVE */
/* Phones */
@media only screen and (max-width:576px) {
    .title-spa .main-title-spa .content-wrapper {
        padding-top: 100px;
    }

    .main-title-spa .content-wrapper h2 {
        font-size: 36px;
    }

    .main-title-spa .content-wrapper span {
        font-size: 16px;
    }

    .main-title-spa .content-wrapper .title-spa-top {
        width: 100% !important;
    }

    .spa-introduction .row h2 {
        font-size: 36px;

    }

    .spa-introduction .row button {
        padding: 13px 11px;
        margin-bottom: 11%;
    }

    .spa-introduction .row .video-spa {
        align-items: center;
        justify-content: center;
    }
}

/* Tablets */
@media only screen and (min-width:576px) {
    .spa-introduction {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title-spa .main-title-spa {
        padding-top: 50px;
    }
}

/* Trọng Tri */
/* ROOMSUITES */
/* Use Bootstrap's container to center and pad content */
.rooms-suites-container {
    max-width: 1320px;
    
}

.banner-room-page {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.rooms-suites-container .banner-room-page {
    width: 100%;
    height: auto;
    /* Hoặc bạn có thể đặt chiều cao cố định */
    max-height: 458px;
    object-fit: cover;
}


/* Center content with Bootstrap's utility classes */
.logo-rome-page {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

/* Heading styles can be adjusted for responsiveness */
h1 {
    color: #AB985F;
    font-family: Inria Serif;
    font-size: 30px;
    /* Bạn có thể tăng kích thước nếu cần */
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3px;
    margin-bottom: 3px;
    /* Thêm một chút khoảng cách dưới tiêu đề */
    max-width: 1300px;
    /* Giới hạn chiều rộng của tiêu đề */
    margin-left: auto;
    /* Căn giữa block tiêu đề */
    margin-right: auto;
    /* Căn giữa block tiêu đề */
}

/* Paragraph styles for better readability */
p {
    color: #666;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    max-width: 900px;
    /* Giới hạn chiều rộng của đoạn văn 740 */
    margin-left: auto;
    /* Căn giữa block đoạn văn */
    margin-right: auto;
    /* Căn giữa block đoạn văn */
    padding: 0 1em;
    /* Thêm padding nếu cần để không bị sát cạnh */
}



/* Adjust padding for main content */
.room-main-page {
    padding: 0 1rem;
    /* Use Bootstrap's padding utilities */
}




/* Update room grid for responsiveness */
.room {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Responsive grid */
    gap: 1rem;
}




/* Điều chỉnh thêm cho các thành phần Room nếu cần */




.SwiperSlide {
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: auto;
}

.roomsuite-main-section {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border: 2px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.roomsuite-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 10px;
    /* Chỉ nếu hình ảnh có góc tròn */
    border-top-right-radius: 10px;
    /* Chỉ nếu hình ảnh có góc tròn */

}

.roomsuite-description {
    padding: 12px 16px;
    background: #fff;
}

.room-short-description span,
.room-short-description h3 {
    display: block;
}

.room-short-description span {
    color: #000000;
    font-size: 0.7em;
}

.room-short-description h3 {
    color: #000000;
    font-size: 1.2em;
}

.over-view-button {
    text-align: center;
    padding: 10px 0;
    background: #fff;
    border-radius: 10px;
}

.over-view-button .btn .overview-btn {
    font-size: 0.85em;
    padding: 10px 50px;
    background-color: #FFF;
    color: #fff;
    cursor: pointer;
    background-color: #E4A853;
    border: 1px solid #E4A853 !important;
    border-radius: 10px;
}

.gold-line {
    height: 2px;
    background-color: #E4A853;
    width: 100%;
    margin: 16px auto;
}

.swiper-wrapper {
    transform: translate3d(0px, 0px, 0px);
    padding-bottom: 28px;
}

/* CSS cho màn hình lớn và máy tính để bàn */
/* CSS phản hồi cho máy tính bảng */
@media (max-width: 768px) {
    .SwiperSlide {
        width: 90%;
        margin: auto;
    }

    .roomsuite-description {
        padding: 10px 14px;
    }

    .room-short-description h3 {
        font-size: 1.1em;
    }

    .over-view-button .btn .overview-btn {
        padding: 8px 16px;
    }

    .gold-line {
        width: 100%;
        margin: 12px auto;
    }

}

/* CSS phản hồi cho điện thoại di động */
@media (max-width: 480px) {
    .SwiperSlide {
        width: 100%;
        border-radius: 0;
    }

    .roomsuite-description {
        padding: 8px 12px;
    }

    .room-short-description h3 {
        font-size: 1em;
    }

    .over-view-button .btn .overview-btn {
        padding: 6px 12px;
    }

    .gold-line {
        width: 100%;
        margin: 8px auto;
    }
}


/* ROOM_TYPE */
.roomtype-header {
    margin-bottom: 3%;
}

.roomtype-header span {
    color: #000;
    font-family: Inria Serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.roomtype-header .select-all {
    margin-left: auto;
    /* Điều này sẽ đẩy link "Select All" sang phải */
    text-align: right;
    /* Căn chữ "Select All" sang phải */
    color: #AA8453 !important;
    font-family: Inria Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 2%;

}

/* Đảm bảo rằng bạn đang sử dụng flexbox cho Col để áp dụng justify-content */
.roomtype-header .d-flex {
    display: flex;
    align-items: center;
    /* Căn giữa các items theo chiều dọc */
}

.roomtype-header .justify-content-between {
    justify-content: space-between;
    /* Đẩy các items ra hai bên của container */
}


/* Map - Trong Tri*/
.map-content {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px solid transparent;
    ;
    position: relative;
}

.map-container .map-content iframe {
    width: 100%;
    height: 100%;

}

.map-container {
    margin: 7% 4%;
}

.contact-page .map-container {
    margin-top: 15rem;
}

.contact-page .map-container {
    margin-top: -2rem;
}

/* CSS phản hồi cho điện thoại di động */
@media (max-width: 767px) {
    .map-content {
        height: 400px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px solid transparent;
        ;
        position: relative;
    }


}

/* CSS phản hồi cho máy tính bảng */
@media (min-width: 768px) and (max-width: 991px) {
    .map-content {
        height: 400px;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px solid transparent;
        ;
        position: relative;
    }
}

/* TRONG TRI */
/* RESTAURANT */
.restaurant {
    background-color: #fff;
}

.content-restaurant .restaurant-top {
    text-align: center;
    padding: 0 26px;
}

.content-restaurant .restaurant-top h2 {
    color: #9B833D;
    text-align: center;
    font-family: Arima Madurai;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
}

.content-restaurant .restaurant-top image {
    width: 114px;
    height: 103px;

}

.content-restaurant .restaurant-top span {
    color: #666;
    text-align: center;
    font-family: Arima Madurai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Restaurant-page home - Trong Tri */
.restaurant-module {
    margin: 7% 6%;
}

.restaurant-module p {
    padding-left: 0%;
}

.image-container img {
    width: 100%;
    display: block;
}

.text-container {
    background: #fff;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
}

.text-container h5,
.text-container h3,
.text-container p {
    margin: 0 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.text-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #666 !important;
    font-family: Inria Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    text-decoration-line: underline;
    margin-top: 10px;
}

.text-container a:hover {
    text-decoration: underline;
}

.image-container img {
    width: 394px;
    height: 499px;
    flex-shrink: 0;
}

.restaurant-module .text-container .text-uppercase {
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #666;
    font-family: Inika;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: uppercase;
}

.restaurant-module .text-container h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #AA8453;
    font-family: Inria Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.restaurant-module .text-container p {
    color: #000;
    font-family: Inria Serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-module .text-container a {
    margin-top: 3px;
}

/* CSS cho màn hình tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .restaurant-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .restaurant-row .restaurant-module {
        margin-bottom: 20px;
    }

    .restaurant-row .restaurant-module:nth-child(3) {
        flex: 0 0 100% !important;
        max-width: 100%;
        order: 2;
    }
}

/* CSS cho màn hình điện thoại */
@media (max-width: 767.98px) {
    .restaurant-row .restaurant-module {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

.image-container img {
    width: 100%;
    height: auto;
}

.restaurant .content-restaurant .loadmore {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: block;
    color: #AA8453;
    font-family: Arima Madurai;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.restaurant .content-restaurant .loadmore .text {
    text-decoration: underline;
}

.restaurant .content-restaurant .loadmore .arrow {
    margin-left: 8px;
}





















/* Lan Anh */
/* Lan anh */
/*  BANNER ROOM DETAIL */
#banner-room .image-room {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#banner-room .carousel-item {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/*  END BANNER ROOM DETAIL */
/* ITEM CONTENT ROOM DETAIL */

#block-dominion-content {
    margin: 60px 0;
}

#block-dominion-content .room-price {
    color: #E4A853;
    margin-left: 10px;
}

#block-dominion-content .card-header {
    padding-left: 0;
    border-bottom: 0;
    background-color: #f3eee7;
    color: #666;
    font-family: Inika;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.5px;
    text-transform: uppercase;
}

#block-dominion-content .card {
    border: 0;
    background-color: #f3eee7;
    color: #666666;
}

#block-dominion-content .card-title {
    color: #AA8453;
    font-family: Inria Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#block-dominion-content .card-text {
    padding-right: 59px;
    text-align: justify;
    margin-bottom: 50px;
    font-size: 16px;
}

#block-dominion-content .card-footer {
    border-top: 0;
    background-color: #f3eee7;

}

#block-dominion-content .card-footer .btn-booking {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    width: 155.433px;
    height: 46px;
    background-color: #E4A853;

}

#block-dominion-content .card-footer .btn-booking:hover {
    background-color: #e78d0f;

}

#block-dominion-content .card-media {
    display: flex;
    margin-top: 55px;
}

#block-dominion-content .card-media-item-2 {
    margin-top: 10rem;
}

/* END ITEM CONTENT ROOM DETAIL */
/* TAB CONTENT ROOM DETAIL */
section.spacer {
    margin: 100px 0;
}

section.spacer header.heading-h {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section.spacer ul.grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 40px;
    background-color: #fff;
}

section.spacer ul.grid-list li {
    width: calc(33.33% - 10px);
    margin: 5px;
    padding-right: 20px;

}

.suggest-other-products_header h2 {
    color: #AA8453;
}

/* END TAB CONTENT ROOM DETAIL */
/* REPONSIVE ROOM DETAIL */
/* Phones */
@media only screen and (max-width:576px) {
    #banner-room .carousel-item {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #banner-room .image-room {
        width: 100%;
        height: auto;
    }

    #block-dominion-content {
        margin: 20px 0;
    }

    #block-dominion-content .card-text {
        padding-right: 0;
        text-align: justify;
        margin-bottom: 50px;
        font-size: 16px;
    }

    #block-dominion-content .card-media {
        display: flex;
        margin-top: 55px;
    }

    #block-dominion-content .card-media-item-1 {
        width: 50%;
    }

    #block-dominion-content .card-media-item-2 {
        margin-top: 0;
        width: 50%;
    }

    #block-dominion-content img {
        width: 100%;
        height: auto;
    }

    section.spacer {
        margin: 50px 0;
    }

    section.spacer ul.grid-list {
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 26px 40px;
        background-color: #fff;
    }

    section.spacer ul.grid-list li {
        width: 100%;
        margin: 5px;
        padding-right: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    #banner-room .carousel-item {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    #banner-room .image-room {
        width: 100%;
        height: auto;
    }

    #block-dominion-content {
        margin: 20px 0;
    }

    #block-dominion-content .card-text {
        padding-right: 0;
        text-align: justify;
        margin-bottom: 50px;
        font-size: 16px;
    }

    #block-dominion-content .card-media {
        display: flex;
        margin-top: 55px;
    }

    #block-dominion-content .card-media-item-1 {
        width: 50%;
    }

    #block-dominion-content .card-media-item-2 {
        margin-top: 0;
        width: 50%;
    }

    #block-dominion-content img {
        width: 100%;
        height: auto;
    }

    section.spacer {
        margin: 50px 0;
    }

    section.spacer ul.grid-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 26px 40px;
        background-color: #fff;
    }

    section.spacer ul.grid-list li {
        width: calc(50% - 10px);
        margin: 5px;
        padding-right: 20px;

    }
}

/* END REPONSIVE ROOM DETAIL */

/* NOT -FOUND */
/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;

}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

.custom-center {
    text-align: center;
}