:root {
  --background-color: #F3EEE7;
  --white-color: #FFF;
  --swiper-theme-color: #E4A853 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color) !important;
}

main {
  padding-top: 96px;
}

/* button:active{
  background-color: #E4A853 !important;
  border-color: #E4A853 !important;
} */